* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Share Tech Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --green: #00ff19;
  --black: #000000;
}

body {
  background: var(--black);
  background-position-y: -100;
  color: var(--green);
  font-family: "Share Tech Mono", monospace;
  font-size: 18px;
}

.centered {
  display: flex;
  justify-content: space-between;
}

.input-submit {
  display: flex;
}

.margin {
  margin: 80px 0;
}

img {
  width: 100%;
}

/*Gradent Elements*/
button:hover,
hr,
img,
.nav-itens li:hover {
  color: var(--black);
  background: repeating-linear-gradient(
    0deg,
    #0c0,
    #0c0 1px,
    #050 1px,
    #050 2px
  );
}

.flicker-layer {
  background: linear-gradient(to bottom, #001100 0%, #111311 100%);
  color: #0f0;
  animation: twitch 0.5s infinite;
  background: repeating-linear-gradient(
    0deg,
    #000,
    #000 2px,
    #020 2px,
    #020 4px
  );
}

@keyframes twitch {
  0% {
    padding: 20px;
  }
  50% {
    padding: 20px;
  }
  51% {
    padding: 19px;
  }
  50% {
    padding: 20px;
  }
  100% {
    padding: 20px;
  }
}
